.o-left-panel-question{
    height: 100%;
    width: 90%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.o-left-container-question{
    width: 95%;
    height: 93%;
}

.o-content-container-question{
    width: 100%;
    height: 85%;
    display: flex;
}

.o-panel-question{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.o-question-content{
    height: 3em;
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-top: 3em;
}

.o-number-question{
    height: 3em;
    width: 3em;
    background-color: var(--green_button);
    border-radius: .4em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
}

.o-number-question p{
    color: white;
    font-family: SemiBold;
    font-size: 1.5em;
}

.o-question-content p{
    margin: .2em 0 0 0;
}

.o-options-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.custom-switch-xl{
    height: 3em;
}

.custom-switch-xl span{
    margin-left: -1.5em;
}

.custom-switch.custom-switch-xl .custom-control-label {
    padding-left: 4rem;
    padding-bottom: 1.8rem;
}

.custom-switch.custom-switch-xl .custom-control-label::before {
    height: 1.8rem;
    width: calc(2.7rem + 0.75rem);
    border-radius: 5rem;
    background-color: #A7A9AC;
}

.custom-switch.custom-switch-xl .custom-control-label::after {
    width: calc(1.8rem - 4px);
    height: calc(1.8rem - 4px);
    border-radius: calc(4rem - (1.5rem / 2));
    background-color: white;
}

.custom-switch.custom-switch-xl .custom-control-input:checked ~ .custom-control-label::after {
    transform: translateX(calc(1.8rem - 0.25rem));
    border: none;
}

.custom-switch.custom-switch-xl .custom-control-input:checked ~ .custom-control-label::before  {
    background-color: var(--green_box);
    border: none;
}

.o-description span{
    color: #6D929E;
    font-family: Bold;
    margin-right: 1em;
    font-size: 1.2em;
}

.o-rigth-panel-question{
    height: 90%;
    width: 9%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-self: center;
}

.o-helps-container{
    background-color: var(--background_login);
    width: 80%;
    height: 60%;
    border-radius: 8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2em 0;
    margin-top: 2em;
}

.o-help-item-container{
    width: 80%;
    cursor: pointer;
 }

 .o-help-item-container .o-help-tittle{
     color: #35BA99 ;
     font-family: ExtraBold;
     font-size: 1em;
 }

 .o-icon-help-item{
     width: 30%;
     margin-bottom: .3em;
 }

 .o-help-item-container p{
    font-family: Medium;
    color: #6D929E;
    font-size: .7em;
 }

 .o-help-item-container h4{
    font-family: ExtraBold;
    color: #6D929E;
    font-size: 1em;
    margin-bottom: 0;
 }

 .o-image-question{
     height: 30%;
 }


 .o-response-question-container{
    width: 100%;
    height: 10em;
    display: flex;
    justify-self: flex-end;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
 }

 .o-response-points-container{
    background-color: var(--background_login);
    border:none;
    border-bottom-left-radius: 10rem;
    border-top-left-radius: 10rem;
    font-size: 1rem;
    color:  #2C464F;
    text-decoration: none;
    font-family: Medium;
    height: 48%;
    width: 100%;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .o-response-points-container p{
     text-align: center;
    margin: 0;
    color: #6D929E;
    font-family: Medium;
    font-size: 1.2em;
    line-height: 1em;
 }

 .o-response-verify-container{
    border:none;
    border-bottom-left-radius: 10rem;
    border-top-left-radius: 10rem;
    font-size: 1rem;
    color:  #2C464F;
    text-decoration: none;
    font-family: Medium;
    height: 48%;
    width: 200%;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .o-response-verify-container h2{
     width: 50%;
     font-size: 1.2em;
     font-family: Bold;
     margin: 0;
     margin-left: 1.5em;
     color: white;
     text-align: left;
 }

 .o-circle-response{
     height: 4em;
     width: 4em;
     background-color: white;
     border-radius: 50%;
     margin: 0 1em;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .o-circle-response img{
     height: 75%;
 }

 .o-code-container{
     height: 20%;
     width: 100%;
     background-color: #414042;
     border-radius: .3em;
     font-family: Regular;
 }


