.o-aditional-panel{
    height: 90%;
    width: 75%;
}

.o-certificates{
    width: 100%;
    margin-bottom: .5em;
}

.o-certificates p{
    color: #2C464F;
    font-family: Medium;
    margin: 0;
}


.o-boxes-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;

}

.o-certificates button{
    margin: 0 !important;
    padding: 0 2em !important;
    height: 2.5em !important;
}