:root{
  /*-----------colores-----------*/
  --green_button: #35BA99;
  --blue_button: #725FA9;

  --background_login: #E6E7E8;

  --green_box : #00AE82;
  --purple_box : #7D7FBD;

  --title_color_gray: #6D929E;
  /*-----------colores-----------*/

  /*-----------fuentes-----------*/
  --header_font: 'Segoe UI';
  /*-----------fuentes-----------*/
}

@font-face {
  font-family: SemiBold;
  src: url('./Font/Montserrat/Montserrat-SemiBold.ttf');
}

@font-face {
  font-family: Regular;
  src: url('./Font/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: Black;
  src: url('./Font/Montserrat/Montserrat-Black.ttf');
}

@font-face {
  font-family: Ligth;
  src: url('./Font/Montserrat/Montserrat-Light.ttf');
}

@font-face {
  font-family: Medium;
  src: url('./Font/Montserrat/Montserrat-Medium.ttf');
}

@font-face {
  font-family: Bold;
  src: url('./Font/Montserrat/Montserrat-Bold.ttf');
}


.App {
  text-align: center;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
